In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('crsp.dime.mpl.df.K1', low_memory=False)

In [4]:
df.describe()

,date,thomasid,years_exp,stdv_paccfscore,cfcontrol,leg_totalbills,amtsumlag_1,amtsumfwd_1,unemployment,billsum,loansum,amtsum
count,6481.000000,6481.000000,6351.000000,6151.000000,444.000000,5110.000000,6481.000000,6481.000000,6481.000000,6481.000000,6481.000000,6481.000000
mean,2009.718099,1443.528931,11.347819,0.362335,-0.125115,9.857143,10.853389,10.817212,1.359188,0.217250,0.404337,14.465030
std,2.812724,605.073809,10.225710,0.096021,0.776887,10.453672,81.842315,39.474439,2.957970,0.497232,1.356222,54.385868
min,2005.000000,2.000000,0.000000,0.000000,-1.872674,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2007.000000,1010.000000,3.000000,0.297520,-0.844273,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,2010.000000,1664.000000,9.000000,0.360439,-0.355353,7.000000,3.000000,3.000000,0.000000,0.000000,0.000000,5.000000
75%,2012.000000,1892.000000,17.000000,0.421160,0.633116,12.000000,8.500000,9.500000,0.000000,0.000000,0.000000,11.750000
max,2014.000000,2291.000000,60.000000,1.381687,1.302073,156.000000,5273.379000,1526.488000,13.700000,6.000000,44.706000,1693.960000

In [5]:
df.head(1)

,date,thomasid,years_exp,cid,stdv_paccfscore,cfcontrol,leg_totalbills,feccandid,party,state,chamber,amtsumlag_1,catcode,amtsumfwd_1,unemployment,billsum,loansum,amtsum
0,2005.0,2.0,17.0,N00007665,0.40897,NaN,9.0,H6HI01121,NaN,NaN,NaN,0.0,LT500,21.07,0.0,0.0,2.0,30.4

df = df[(df['party'] != 'Independent')]

In [33]:
df.drop_duplicates(inplace=True)

In [34]:
party_dummies = pd.get_dummies(df['party'])
df=pd.concat([df, party_dummies], axis=1)
df.drop(['party', 'Democrat'], inplace=True, axis=1)

In [35]:
chamber_dummies = pd.get_dummies(df['chamber'])
df=pd.concat([df, chamber_dummies], axis=1)
df.drop(['chamber', 'rep'], inplace=True, axis=1)

naics_dummies = pd.get_dummies(df['naics'])
df=pd.concat([df, naics_dummies], axis=1)
df.drop(['naics'], inplace=True, axis=1)

In [36]:
df.update(df[['amtsum', 'stdv_paccfscore', 'leg_totalbills', 'years_exp',\
              'cfcontrol', 'amtsumlag_1']].fillna(0))

In [37]:
df.drop_duplicates(inplace=True)

In [38]:
df.columns.tolist()

['date',
 'thomasid',
 'years_exp',
 'cid',
 'stdv_paccfscore',
 'cfcontrol',
 'leg_totalbills',
 'feccandid',
 'state',
 'amtsumlag_1',
 'catcode',
 'amtsumfwd_1',
 'unemployment',
 'billsum',
 'loansum',
 'amtsum',
 'Independent',
 'Republican',
 'sen']

In [39]:
df['sen_amtsum']=df.sen * df.amtsum
df['sen_amtsumlag1']=df.sen * df.amtsumlag_1
df['sen_amtsumfwd1']=df.sen * df.amtsumfwd_1

df['Republican_amtsum']=df.Republican * df.amtsum
df['Republican_amtsumlag1']=df.Republican * df.amtsumlag_1
df['Republican_amtsumfwd1']=df.Republican * df.amtsumfwd_1

In [40]:
df.to_csv('crsp.dime.mpl.df.L1.1', index=False)

In [41]:
df.columns.tolist()

['date',
 'thomasid',
 'years_exp',
 'cid',
 'stdv_paccfscore',
 'cfcontrol',
 'leg_totalbills',
 'feccandid',
 'state',
 'amtsumlag_1',
 'catcode',
 'amtsumfwd_1',
 'unemployment',
 'billsum',
 'loansum',
 'amtsum',
 'Independent',
 'Republican',
 'sen',
 'sen_amtsum',
 'sen_amtsumlag1',
 'sen_amtsumfwd1',
 'Republican_amtsum',
 'Republican_amtsumlag1',
 'Republican_amtsumfwd1']

In [42]:
femodel= pd.read_csv('crsp.dime.mpl.df.L1.1', usecols=('Republican', 'sen', 'date', 'cid', 'state', 'amtsumfwd_1', 'leg_totalbills', 'years_exp',\
'amtsum', 'amtsumlag_1', 'billsum', 'cfcontrol', 'Republican_amtsum', 'Republican_amtsumlag1',\
'Republican_amtsumfwd1', 'unemployment', 'sen_amtsumlag1', 'sen_amtsum', 'sen_amtsumfwd1'))

In [43]:
femodel.drop_duplicates(inplace=True)

femodel.drop_duplicates(['date', 'cid', 'amtsum', 'billsum'],inplace=True)

In [44]:
femodel.update(femodel[['amtsum', 'leg_totalbills', 'years_exp',\
               'cfcontrol', 'amtsumlag_1']].fillna(0))

In [45]:
femodel.columns.tolist()

['date',
 'years_exp',
 'cid',
 'cfcontrol',
 'leg_totalbills',
 'state',
 'amtsumlag_1',
 'amtsumfwd_1',
 'unemployment',
 'billsum',
 'amtsum',
 'Republican',
 'sen',
 'sen_amtsum',
 'sen_amtsumlag1',
 'sen_amtsumfwd1',
 'Republican_amtsum',
 'Republican_amtsumlag1',
 'Republican_amtsumfwd1']

In [46]:
femodel.drop_duplicates(['date', 'cid', 'amtsum', 'amtsumlag_1', 'billsum'],inplace=True)

In [47]:
femodel.to_csv('femodel.1a.csv', index=False)