In [29]:
import pandas as pd

df = pd.read_csv('Thesis/CRSP/pacs.can.cl', usecols=['feccandid', 'cid'])
fec_thom=pd.read_csv('fecthomas.csv')

In [30]:
dd = pd.read_csv('Thesis/CRSP/pacs.can.cl')

In [31]:
fec_thom.isnull().sum()
fec_thom.rename(columns={'id.fec':'feccandid'}, inplace=True)
fec_thom_cid_index=pd.merge(fec_thom, df, on='feccandid', how='inner')
fec_thom_cid_index.drop_duplicates(['cid', 'id.thomas', \
                                     'feccandid'], inplace=True)
fec_thom_cid_index.to_csv('fec_thom_cid_index', index=False)

In [32]:
len(fec_thom_cid_index)

986

In [33]:
fec_thom_cid_index.isnull().sum()

feccandid    0
id.thomas    0
cid          0
dtype: int64

In [34]:
import pandas as pd

amtsum = pd.read_csv('Thesis/CRSP/pacs.can.cl', usecols=(['feccandid','cid', 'amount', 'date', 'catcode']))

In [35]:
amtsum.feccandid.nunique()

4585

In [36]:
amtsum['amtsum']=amtsum[['date', 'cid', 'amount', 'catcode']].\
groupby(['date', 'cid', 'catcode']).amount.transform('sum')
amtsum['amtsum'] = amtsum['amtsum'] / 1000
amtsum.drop_duplicates(['date', 'cid', 'amtsum', 'catcode'],inplace=True, keep='first')

In [37]:
loansum = pd.read_csv('Thesis/CRSP/pacs.can.cl', \
                      usecols=(['cid', 'loan', 'date','catcode']))

In [38]:
loansum['loansum']=loansum[['date', 'cid', 'loan','catcode']].\
groupby(['date', 'cid','catcode']).loan.transform('sum')
loansum['loansum'] = loansum['loansum'] / 1000
loansum.drop_duplicates(['date', 'cid', 'loansum','catcode'],inplace=True,\
                        keep='first')

In [39]:
amtcidyear=pd.merge(loansum, amtsum, how='inner', on=(['date', 'cid', 'catcode']))

In [40]:
amtcidyear.head(1)

         cid  date catcode  loan  loansum  amount  feccandid  amtsum
0  N00031317  2010   B2000     0      0.0    1000  H0FL19080     3.0

In [41]:
amtcidyear.drop(['loan', 'amount'], axis=1, inplace=True)

In [42]:
amtcidyear.describe()

                date        loansum         amtsum
count  450411.000000  450411.000000  450411.000000
mean     2009.642526       0.136952       7.462530
std         2.841647       0.987051     120.934279
min      2005.000000       0.000000       0.000000
25%      2007.000000       0.000000       1.000000
50%      2010.000000       0.000000       2.500000
75%      2012.000000       0.000000       5.500000
max      2014.000000     207.732000   45319.220000

In [43]:
mplbill=pd.read_csv('mpl.billsum', usecols=['feccandid', 'bills', 'date', 'unemployment', 'catcode'])
mplbill=pd.merge(fec_thom_cid_index,mplbill,on='feccandid', how='right')

In [44]:
mplbill.dropna(inplace=True)

In [45]:
mplbill['billsum']=mplbill[['date', 'cid', 'bills', 'catcode']].\
groupby(['date', 'cid', 'catcode']).bills.transform('nunique')
mplbill.drop(['bills' ], axis=1, inplace=True)
mplbill.drop_duplicates(['date', 'cid', 'billsum', 'catcode'], inplace=True, keep='first')
mplbill.drop(['feccandid'], axis=1, inplace=True)

In [46]:
len(mplbill)

20496

In [47]:
len(amtcidyear)

450411

In [48]:
amtcidyear.cid.nunique()

4351

In [49]:
mplbill.cid.nunique()

689

In [50]:
mplbill.head(1)

   id.thomas        cid    date  unemployment catcode  billsum
0     1336.0  N00003147  2005.0           5.6   G1100        1

In [51]:
amtcidyear.head(1)

         cid  date catcode  loansum  feccandid  amtsum
0  N00031317  2010   B2000      0.0  H0FL19080     3.0

In [52]:
bill_amt_merge=pd.merge(fec_thom_cid_index, amtcidyear, on='cid', how = 'left')

In [53]:
bill_amt_merge.isnull().sum()

feccandid_x    0
id.thomas      0
cid            0
date           0
catcode        0
loansum        0
feccandid_y    0
amtsum         0
dtype: int64

In [54]:
bill_amt_merge.cid.nunique()

915

In [55]:
bill_amtmerge=pd.merge(mplbill,bill_amt_merge,on=['cid', 'date', 'catcode'], how='right')
bill_amtmerge.drop(['id.thomas_x','feccandid_x' ], axis=1, inplace=True)
bill_amtmerge.rename(columns = {'id.thomas_y':'id.thomas'}, inplace=True)
bill_amtmerge.rename(columns = {'feccandid_y':'feccanid'}, inplace=True)

In [56]:
bill_amtmerge.head(1)

,cid,date,unemployment,catcode,billsum,id.thomas,loansum,feccanid,amtsum
0,N00013870,2007.0,4.6,H0000,1.0,1697,0.0,S2MN00126,1.0

In [57]:
bill_amtmerge.fillna(value=0, inplace=True)

In [58]:
bill_amtmerge.isnull().sum()

cid             0
date            0
unemployment    0
catcode         0
billsum         0
id.thomas       0
loansum         0
feccanid        0
amtsum          0
dtype: int64

In [59]:
bill_amtmerge.cid.nunique()#isnull().sum()

915

In [60]:
bill_amtmerge.head(1)

,cid,date,unemployment,catcode,billsum,id.thomas,loansum,feccanid,amtsum
0,N00013870,2007.0,4.6,H0000,1.0,1697,0.0,S2MN00126,1.0

In [61]:
len(bill_amtmerge)

454550

In [62]:
bill_amtmerge.describe()

,date,unemployment,billsum,id.thomas,loansum,amtsum
count,454550.000000,454550.000000,454550.000000,454550.000000,454550.000000,454550.000000
mean,2009.746558,0.126249,0.020213,1434.309449,0.136627,7.075354
std,2.811869,0.987219,0.165274,600.544128,0.908345,93.636189
min,2005.000000,0.000000,0.000000,2.000000,0.000000,0.000000
25%,2007.000000,0.000000,0.000000,1010.000000,0.000000,1.000000
50%,2010.000000,0.000000,0.000000,1651.000000,0.000000,2.500000
75%,2012.000000,0.000000,0.000000,1869.000000,0.000000,5.500000
max,2014.000000,13.700000,6.000000,2291.000000,207.732000,35745.725000

## Removing President Obama from the data frame

In [63]:
mask = (bill_amtmerge['id.thomas'] == 1763) & (bill_amtmerge['date'] >= 2007) 
bill_amtmerge = bill_amtmerge[~mask]

## Removing campaign contributions from 2012 for republican presidential nominee Sen. John McCain

In [64]:
mask1 = (bill_amtmerge['id.thomas'] == 754) & (bill_amtmerge['date'] == 2008) & (bill_amtmerge['date'] == 2007) 
bill_amtmerge = bill_amtmerge[~mask1]

## Removing PAC contributions to Hillary Clinton from  2008 Presidential race

In [65]:
mask2 = (bill_amtmerge['id.thomas'] == 1631) & (bill_amtmerge['date'] == 2008) & (bill_amtmerge['date'] == 2007) 
bill_amtmerge = bill_amtmerge[~mask2]

## Removing PAC contributions to Rick Santorum from  2012 Presidential race

In [66]:
mask3 = (bill_amtmerge['id.thomas'] == 1015) & (bill_amtmerge['date'] == 2012) & (bill_amtmerge['date'] == 2011)
bill_amtmerge = bill_amtmerge[~mask3]

## Removing PAC contributions to Ron Paul from  2008 and 2012 Presidential race

In [67]:
mask4 = (bill_amtmerge['id.thomas'] == 900) & (bill_amtmerge['date'] == 2012) & (bill_amtmerge['date'] == 2011) & \
 (bill_amtmerge['date'] == 2008)&(bill_amtmerge['date'] == 2007)
bill_amtmerge = bill_amtmerge[~mask4]

## Removing PAC contributions to Newt Gingrich from  2012 Presidential race

In [68]:
mask5 = (bill_amtmerge['id.thomas'] == 441) & (bill_amtmerge['date'] == 2012) & (bill_amtmerge['date'] == 2011)
bill_amtmerge = bill_amtmerge[~mask5]

In [69]:
bill_amtmerge.describe()

,date,unemployment,billsum,id.thomas,loansum,amtsum
count,454384.000000,454384.000000,454384.000000,454384.000000,454384.000000,454384.000000
mean,2009.746547,0.126262,0.020214,1434.189368,0.136428,6.738634
std,2.812095,0.987317,0.165285,600.620948,0.906749,62.011896
min,2005.000000,0.000000,0.000000,2.000000,0.000000,0.000000
25%,2007.000000,0.000000,0.000000,1010.000000,0.000000,1.000000
50%,2010.000000,0.000000,0.000000,1651.000000,0.000000,2.500000
75%,2012.000000,0.000000,0.000000,1869.000000,0.000000,5.500000
max,2014.000000,13.700000,6.000000,2291.000000,207.732000,19739.002000

In [70]:
bill_amtmerge.cid.nunique()

915

In [71]:
bill_amtmerge.to_csv('year_bill_amount.sum', index=False)

In [72]:
dd.to_csv('pacidtocid.amount.sum', index=False)