In [127]:
import pandas as pd
import numpy as np

In [128]:
df=pd.read_csv('femodel.1a.csv')

In [129]:
df.columns.tolist()

['date',
 'years_exp',
 'cid',
 'cfcontrol',
 'leg_totalbills',
 'state',
 'amtsumlag_1',
 'amtsumfwd_1',
 'unemployment',
 'billsum',
 'amtsum',
 'Republican',
 'sen',
 'sen_amtsum',
 'sen_amtsumlag1',
 'sen_amtsumfwd1',
 'Republican_amtsum',
 'Republican_amtsumlag1',
 'Republican_amtsumfwd1']

In [130]:
df.head(1)

,date,years_exp,cid,cfcontrol,leg_totalbills,state,amtsumlag_1,amtsumfwd_1,unemployment,billsum,amtsum,Republican,sen,sen_amtsum,sen_amtsumlag1,sen_amtsumfwd1,Republican_amtsum,Republican_amtsumlag1,Republican_amtsumfwd1
0,2005.0,17.0,N00007665,0.0,9.0,NaN,0.0,21.07,0.0,0.0,30.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [131]:
len (df)

6459

In [132]:
tz = pd.read_csv('Thesis/ExternalData/state.unemployment.csv').dropna()

tz= pd.melt(tz,id_vars=['state'],var_name='years', \
            value_name='unemployment').sort_values(['state', 'years'])
tz['years'] = tz['years'].astype('int64')
tz.rename(columns={'years':'date'}, inplace=True)
tz.head(1)

  state  date  unemployment
1    AK  2004           7.5

In [133]:
tz['unempdate_lag1']=tz.date+1
df.head(1)

,date,years_exp,cid,cfcontrol,leg_totalbills,state,amtsumlag_1,amtsumfwd_1,unemployment,billsum,amtsum,Republican,sen,sen_amtsum,sen_amtsumlag1,sen_amtsumfwd1,Republican_amtsum,Republican_amtsumlag1,Republican_amtsumfwd1
0,2005.0,17.0,N00007665,0.0,9.0,NaN,0.0,21.07,0.0,0.0,30.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [134]:
lagunemp=tz[['state', 'unemployment', 'unempdate_lag1']].copy()
lagunemp.rename(columns={'unempdate_lag1':'date'},inplace=True)
lagunemp.rename(columns={'unemployment':'unemplag_1'},inplace=True)
lagunemp.head(1)

  state  unemplag_1  date
1    AK         7.5  2005

In [135]:
tz.state.nunique()

52

In [136]:
df=pd.merge(df,lagunemp,on=['state', 'date'], how='left')
df.fillna(value=0, inplace=True)

In [137]:
df['post2009_years']= df[['date']]

In [138]:
df.loc[df.post2009_years == 2005, ['post2009_years']] = 0

In [139]:
df.loc[df.post2009_years == 2006, ['post2009_years']] = 0

In [140]:
df.loc[df.post2009_years == 2007, ['post2009_years']] = 0

In [141]:
df.loc[df.post2009_years == 2008, ['post2009_years']] = 0

In [142]:
df.loc[df.post2009_years == 2009, ['post2009_years']] = 0

In [143]:
df.loc[df.post2009_years == 2010, ['post2009_years']] = 1

In [144]:
df.loc[df.post2009_years == 2011, ['post2009_years']] = 1

In [145]:
df.loc[df.post2009_years == 2012, ['post2009_years']] = 1

In [146]:
df.loc[df.post2009_years == 2013, ['post2009_years']] = 1

In [147]:
df.loc[df.post2009_years == 2014, ['post2009_years']] = 1

In [148]:
df['logleg_totalbills'] = np.log(df.leg_totalbills)

In [149]:
df['logamtsumlag_1'] = np.log(df.amtsumlag_1)

In [150]:
df['logamtsumfwd_1'] = np.log(df.amtsumfwd_1)

In [151]:
df['logamtsum'] = np.log(df.amtsum)

In [152]:
df['amtsum_post2009years']=df['amtsum']*df['post2009_years']

df['amtsumfwd1_post2009years']=df['amtsumfwd_1']*df['post2009_years']

df['amtsumlag1_post2009years']=df['amtsumlag_1']*df['post2009_years']

In [153]:
df['logamtsum_post2009years']=df['logamtsum']*df['post2009_years']

df['logamtsumfwd1_post2009years']=df['logamtsumfwd_1']*df['post2009_years']

df['logamtsumlag1_post2009years']=df['logamtsumlag_1']*df['post2009_years']

In [154]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [155]:
df.fillna(value=0, inplace=True)

In [156]:
dy = df.round(2)

In [157]:
dy.head()

,date,years_exp,cid,cfcontrol,leg_totalbills,state,amtsumlag_1,amtsumfwd_1,unemployment,billsum,...,logleg_totalbills,logamtsumlag_1,logamtsumfwd_1,logamtsum,amtsum_post2009years,amtsumfwd1_post2009years,amtsumlag1_post2009years,logamtsum_post2009years,logamtsumfwd1_post2009years,logamtsumlag1_post2009years
0,2005.0,17.0,N00007665,0.0,9.0,0,0.0,21.07,0.0,0.0,...,2.20,0.00,3.05,3.41,0.0,0.0,0.0,0.0,0.0,0.0
1,2006.0,18.0,N00007665,0.0,2.0,HI,30.4,29.80,0.0,0.0,...,0.69,3.41,3.39,3.05,0.0,0.0,0.0,0.0,0.0,0.0
2,2007.0,19.0,N00007665,0.0,9.0,0,7.1,7.30,2.8,1.0,...,2.20,1.96,1.99,1.61,0.0,0.0,0.0,0.0,0.0,0.0
3,2008.0,20.0,N00007665,0.0,2.0,HI,10.0,0.00,0.0,0.0,...,0.69,2.30,0.00,2.15,0.0,0.0,0.0,0.0,0.0,0.0
4,2009.0,21.0,N00007665,0.0,15.0,0,1.0,4.00,0.0,0.0,...,2.71,0.00,1.39,1.10,0.0,0.0,0.0,0.0,0.0,0.0

In [158]:
dy['total_years'] = dy.groupby('cid').years_exp.transform('nunique')

In [159]:
df.drop_duplicates(inplace=True)

In [160]:
df.drop_duplicates(['date', 'cid'], inplace=True)

In [161]:
df.columns.tolist()

['date',
 'years_exp',
 'cid',
 'cfcontrol',
 'leg_totalbills',
 'state',
 'amtsumlag_1',
 'amtsumfwd_1',
 'unemployment',
 'billsum',
 'amtsum',
 'Republican',
 'sen',
 'sen_amtsum',
 'sen_amtsumlag1',
 'sen_amtsumfwd1',
 'Republican_amtsum',
 'Republican_amtsumlag1',
 'Republican_amtsumfwd1',
 'unemplag_1',
 'post2009_years',
 'logleg_totalbills',
 'logamtsumlag_1',
 'logamtsumfwd_1',
 'logamtsum',
 'amtsum_post2009years',
 'amtsumfwd1_post2009years',
 'amtsumlag1_post2009years',
 'logamtsum_post2009years',
 'logamtsumfwd1_post2009years',
 'logamtsumlag1_post2009years']

In [162]:
df['amtsumdff'] =df['amtsum'].shift()

In [163]:
df['logamtsumdff'] = np.log(df.amtsumdff)

In [164]:
df['billsumdff'] =df['billsum'].shift()

In [165]:
df['logbillsumdff'] =np.log(df.billsumdff)

In [166]:
df['amtsumfwd_dff'] =df['amtsumfwd_1'].shift()

In [167]:
df['amtsumlag_dff'] =df['amtsumlag_1'].shift()

In [168]:
df['logamtsumlag_dff'] = np.log(df.amtsumlag_dff)

In [169]:
df['leg_totalbillsdff'] =df['leg_totalbills'].shift()

In [170]:
df['years_expdff'] =df['years_exp'].shift()

In [171]:
df['amtsumfwd1_post2009yearsdff'] =df['amtsumfwd1_post2009years'].shift()

In [172]:
df['amtsumlag1_post2009yearsdff'] =df['amtsumlag1_post2009years'].shift()

In [173]:
df['amtsum_post2009yearsdff'] =df['amtsum_post2009years'].shift()

In [174]:
df['republican_amtsumlagdff'] =df['Republican_amtsumlag1'].shift()

In [175]:
df['republican_amtsumfwd1dff'] =df['Republican_amtsumfwd1'].shift()

In [176]:
df['sen_amtsumlag1dff'] =df['sen_amtsumlag1'].shift()

In [177]:
df['sen_amtsumfwd1dff'] =df['sen_amtsumfwd1'].shift()

In [178]:
df['sen_amtsumdff'] =df['sen_amtsum'].shift()

In [179]:
df['cfcontroldff'] =df['cfcontrol'].shift()

In [180]:
df['unemploymentdff'] =df['unemployment'].shift()

In [181]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [182]:
df.fillna(value=0, inplace=True)

In [183]:
df.to_csv('femodel.csv', index=False)