\subsection{Apendix 1.}

Language: Python

## Merging NAICS codes to (mpl.Bspons.merge): send to csv (mpl.Bspons.merge.1)

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Thesis/ExternalData/gdpdata/rgdpconc.csv', index_col=0)
df1 = pd.read_csv('Thesis/ExternalData/gdpdata/taxesconc.csv', index_col=0)
df2 = pd.read_csv('Thesis/ExternalData/gdpdata/empcompconc.csv', index_col=0)
df3=pd.read_csv('Thesis/ExternalData/gdpdata/subsidyconc.csv', index_col=0)

In [3]:
a = df.IndustryClassification.unique()
a = pd.DataFrame({'unique':a})

In [4]:
b = df1.IndustryClassification.unique()
b = pd.DataFrame({'unique':b})

In [5]:
c = df2.IndustryClassification.unique()
c = pd.DataFrame({'unique':c})

In [6]:
d = df3.IndustryClassification.unique()
d = pd.DataFrame({'unique':d})

In [7]:
frames = (a, b, c, d)
result = pd.concat(frames)
uniq = result.unique.unique()
result.unique.unique()

array(['561', '621', '23', '92', '5412-5414, 5416-5419', '512', '81',
       '531', '44-45', '42', '622-623', '521-522', '22', '211', '486',
       '213', '334', '311-312', '55', '111-112', '515, 517', '325', '523',
       '5411', '61', '511', '721', '722', '3361-3363', '333',
       '3364-3366, 3369', '212', '322', '482', '324', '5415', '332', '481',
       '532-533', '113-115', '711-712', '713', '484', '331', '337', '483',
       '327', '321', '493', '518, 519', '487-488, 492'], dtype=object)

In [8]:
df= pd.read_csv(\
'Thesis/ExternalData/naics_conversion_data/sic_naics_catcode.csv'\
                , index_col=0)

df=df.loc[df['2002to2007 NAICS'].astype(str).str.contains\
       (r'^(?:531|11[3-5]|481|337|518|92|42|44|45|484|493|519|532|483|533|23|81|621|561|512|622|492|623|521|522|22|321|211|486|213|334|487|488|327|331|311|312|55|111|112|515|517|325|523|5411|61|511|721|722|336[1-3]|711|712|713|333|336[4-6]|3369|212|322|482|324|5415|332|541[6-9]|541[2-4])')]

df.to_csv('Thesis/ExternalData/gdpdata/gdpseries_naics_and_catcode.csv')

In [9]:
uniq = pd.DataFrame({'unique':uniq})
uniq.to_csv('Thesis/ExternalData/gdpdata/gdpseries_indstry.csv')

In [10]:
# Read in hand parsed catcode:naics data

rr = pd.read_csv('Thesis/ExternalData/gdpdata/catcode_naics_long.csv',\
                encoding='utf-8_sig', usecols=(['naics', 'catcode']))

In [11]:
rr.head(1)

  naics catcode
0   561   T9400

In [12]:
rr.catcode.nunique()

239

In [13]:
mpl=pd.read_csv('mpl.Bspons.merge')

In [14]:
mplmerge=pd.merge(mpl,rr, on='catcode', how='left' )

In [15]:
mplmerge.to_csv('mpl.Bspons.merge.1', index=False)

In [16]:
mplmerge.bills.nunique()

4509

In [17]:
mplmerge.head(1)

,state,date,unemployment_lag,year,unemployment,id.thomas,party,bills,id.fec,leg_totalbills,years_exp,disposition,catcode,naics
0,AK,2006.0,6.9,2006.0,6.6,1440.0,Republican,s2686-109,S2AK00010,14.0,39.0,support,C4500,81