In [1]:
import pandas as pd

df=pd.read_csv('mpl.Bspons.merge.2', low_memory=False)

In [2]:
df.drop_duplicates(inplace=True)

In [12]:
df['id.thomas'].nunique()

690

In [3]:
df.bills.nunique()

4509

In [4]:
df.head()

,state,naics,year,log_diff_subsidies,log_diff_empcomp,log_diff_taxes,log_diff_rgdp,date,unemployment_lag,unemployment,id.thomas,party,bills,id.fec,leg_totalbills,years_exp,disposition,catcode
0,AL,111-112,2007.0,-0.499828,NaN,NaN,NaN,2007.0,4.0,4.0,1705.0,Democrat,hr1937-110,H0AL07060,15.0,5.0,support,A5000
3,AL,111-112,2013.0,0.480127,NaN,NaN,NaN,2013.0,8.0,7.2,38.0,Republican,hr2542-113,H2AL06035,3.0,21.0,support,A8000
4,AL,111-112,2013.0,0.480127,NaN,NaN,NaN,2013.0,8.0,7.2,38.0,Republican,hr2542-113,H2AL06035,3.0,21.0,support,A5000
6,AL,111-112,2013.0,0.480127,NaN,NaN,NaN,2013.0,8.0,7.2,38.0,Republican,hr2542-113,H2AL06035,3.0,21.0,support,E4100
8,AL,111-112,2013.0,0.480127,NaN,NaN,NaN,2013.0,8.0,7.2,38.0,Republican,hr2542-113,H2AL06035,3.0,21.0,support,G2100

In [5]:
cid_fec = pd.read_csv('Thesis/CRSP/pacs.can.cl', usecols=['cid', 'feccandid'])

In [6]:
df.rename(columns={"id.fec" : "feccandid"}, inplace=True)
cid_fec.drop_duplicates('feccandid', keep='first', inplace=True)

In [7]:
df=pd.merge(cid_fec,df, on=['feccandid'], how='right')
#df.drop('feccandid', axis=1, inplace=True)

In [8]:
df['cid'].nunique()

690

In [9]:
df.to_csv('mpl.billsum', index=False)