\subsection{Appendix 1.5}

Language: Python

## Merging lagged unemployment data to (billspon.legisl.merg.2): send to csv (billspon.legisl.merg.3)

Reading in state-level unemployment data provided by the Bureau of Statistics\cite{unemployment}

In [69]:
import numpy as np
import pandas as pd

In [70]:
tz = pd.read_csv('Thesis/ExternalData/state.unemployment.csv').dropna()

tz= pd.melt(tz,id_vars=['state'],var_name='years', \
            value_name='unemployment').sort_values(['state', 'years'])
tz['years'] = tz['years'].astype('int64')

tz.head(1)

  state  years  unemployment
1    AK   2004           7.5

In [71]:
tz['date_lag1']=tz.years+1

merged1=tz[['state', 'date_lag1', 'unemployment']].copy()
tz.drop(['date_lag1'], axis=1, inplace=True )

merged1.rename(columns={'date_lag1':'years', 'unemployment' : 'unemployment_lag'},\
      inplace=True)

In [72]:
unempmerge=pd.merge(merged1, tz, how='right', on=['years', 'state'] )
unempmerge.drop_duplicates(keep='first', inplace=True)

In [73]:
unempmerge.count()

state               624
years               624
unemployment_lag    572
unemployment        624
dtype: int64

In [74]:
df= pd.read_csv('billspon.legisl.merg.2')

In [75]:
df.count()

id.thomas         50451
party             50451
state             50451
date              50451
bills             50451
id.fec            50451
leg_totalbills    50451
years             50451
years_exp         50451
dtype: int64

In [76]:
dfmerge= pd.merge(unempmerge, df, how='right', on=['years', 'state'])
dfmerge.drop_duplicates(keep='first', inplace=True)

In [77]:
dfmerge.count()

state               50451
years               50451
unemployment_lag    50174
unemployment        50174
id.thomas           50451
party               50451
date                50451
bills               50451
id.fec              50451
leg_totalbills      50451
years_exp           50451
dtype: int64

In [78]:
dfmerge.head(1)

,state,years,unemployment_lag,unemployment,id.thomas,party,date,bills,id.fec,leg_totalbills,years_exp
0,AK,2005.0,7.5,6.9,1440,Republican,2005,s2012-109,S2AK00010,18,38

Check data frame for null values: null values represent unemployment data for territories that ellect a member to the House of Representatives: Puerto Rico, Guam, Northern Mariana Islands, the U.S. Virgin Islands, and American Samoa\{delegatevoting page 1}.

In [1]:
dfmerge.unemployment.isnull().sum()

NameError: name 'dfmerge' is not defined

In [80]:
dfmerge['bills'].nunique()

50451

In [81]:
dfmerge.to_csv('billspon.legisl.merg.3', index=False)