\subsection{}

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv('Thesis/ExternalData/gdpdata/rgdpconc.1.csv', index_col=0)
df1= pd.read_csv('Thesis/ExternalData/gdpdata/taxesconc.1.csv', index_col=0)
df2= pd.read_csv('Thesis/ExternalData/gdpdata/empcompconc.1.csv', index_col=0)
df3= pd.read_csv('Thesis/ExternalData/gdpdata/subsidyconc.1.csv', index_col=0)
df4=pd.read_csv('mpl.Bspons.merge.1')

In [3]:
df.head(1)

,GeoName,state,naics,Description,ComponentName,year,GDP,log_diff_rgdp
0,Alabama,AL,621,Ambulatory health care services,Real GDP by state,2004,6005.0,NaN

In [4]:
merged=pd.merge(df,df4, on=(['state', 'year', 'naics']), how='right')
merged=pd.merge(df1,merged, on=(['state', 'year', 'naics']), how='right')
merged=pd.merge(df2,merged, on=(['state', 'year', 'naics']), how='right')
merged=pd.merge(df3,merged, on=(['state', 'year', 'naics']), how='right')

In [5]:
merged.bills.nunique()

4509

In [6]:
merged.count()

GeoName_x               6545
state                 103123
naics                  72054
Description_x           6545
ComponentName_x         6545
year                  103123
subsidies               4475
log_diff_subsidies      3923
GeoName_y              26168
Unnamed: 1                88
ComponentName_y        26168
Description_y          26168
empcomp                21711
log_diff_empcomp       21624
GeoName_x              20905
Description_x          20905
ComponentName_x        20905
taxes                  17003
log_diff_taxes         16863
GeoName_y              25494
Description_y          25494
ComponentName_y        25494
GDP                    22612
log_diff_rgdp          22315
date                  103123
unemployment_lag      103048
unemployment          103073
id.thomas             103123
party                 103123
bills                 103125
id.fec                103123
leg_totalbills        103123
years_exp             103123
disposition           103125
catcode               103125
dtype: int64

In [7]:
merged.drop(['GeoName_x', 'Description_x', 'ComponentName_x',\
'GeoName_y', 'Unnamed: 1', 'ComponentName_y', 'Description_y', 'empcomp',\
'subsidies', 'taxes', 'GDP', 'name'], axis=1, inplace=True)

In [8]:
merged.head(1)

,state,naics,year,log_diff_subsidies,log_diff_empcomp,log_diff_taxes,log_diff_rgdp,date,unemployment_lag,unemployment,id.thomas,party,bills,id.fec,leg_totalbills,years_exp,disposition,catcode
0,AL,111-112,2007.0,-0.499828,NaN,NaN,NaN,2007.0,4.0,4.0,1705.0,Democrat,hr1937-110,H0AL07060,15.0,5.0,support,A5000

In [9]:
merged.to_csv('mpl.Bspons.merge.2', index=False)